{:lib io.github.polyfy/polylith,
 :coord
 {:git/tag "v0.2.15-alpha",
  :deps/root "projects/poly",
  :git/sha "22fe6fe46bbee5c678d7d81bcbbd46d83be98a75",
  :git/url "https://github.com/polyfy/polylith.git"}}
